body {
  background: #fff;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

input, button {
  font-size: inherit;
}

.form {
  padding: 1em;
  width: 250px;
}

fieldset {
  border: 1px solid #d4d4d4;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0.8em 0;
}

.label {
  margin-bottom: 0.3em;
}

.input {
  border: 1px solid #999;
  padding: 0.6em;
}